<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Leaf</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content text-left">

      <div class="modal-header">
        <h4 class="modal-title">Create Leaf</h4>
      </div>

        <div class="modal-body">

          <ul class="nav nav-tabs" id="dashboard_leaf_data_types">
            <li class="active"><a href="#leaf_text_type" data-target="#leaf_text_type" data-toggle="tab"> Text </a></li>
            <li><a href="#leaf_youtube_type" data-target="#leaf_youtube_type" data-toggle="tab"> Youtube </a></li>
            <li><a href="#leaf_youtube_upload" data-target="#leaf_youtube_upload" data-toggle="tab"> Youtube Upload </a></li>
          </ul>
          <div class="tab-content">
	    <div class="tab-pane" id="leaf_youtube_type">
              <!-- Form for creating a Youtube source -->
              <div class="form-group col-lg-12 text-center">
                <br /><br />
                <%= form_for(@source_youtube, html: {multipart: :true, class: "form"}) do |f| %>
                  <%= f.label :youtube_title, 'Leaf Title (Optional)'  %><br />
                  <%= text_field_tag :youtube_title, nil,  class: 'form-control' %><br />

                  <%= f.label :youtube, 'Youtube Link'  %><br />
                  <span class="help-block">A link to the video on YouTube.</span><br />
                  <%= f.text_field :link, class: 'form-control' %><br />

                  <%= f.label :text, 'Text' %><br />
                  <div class="text-left">
                    <%= f.trix_editor :text %><br />
                  </div>

                  <%= hidden_field_tag 'branch_id', @branch.id %>

                 <div class="form-group col-lg-12 text-center">
                   <%= f.submit 'Create Leaf', class: 'btn btn-primary' %>
                 </div>
                <% end %>
              </div>
	    </div>
	    <div class="tab-pane active" id="leaf_text_type" >
              <!-- Form for creating a Text source -->
              <div class="form-group col-lg-12 text-center">
                <br /><br />
                <%= form_for(@source_text, html: {multipart: :true, class: "form"}) do |t| %>
                  <%= t.label :text_title, 'Leaf Title (Optional)'  %><br />
                  <%= text_field_tag :text_title, nil,  class: 'form-control' %><br />

                  <%= t.label :text, 'Text' %><br />
                  <div class="text-left">
                    <%= t.trix_editor :text %><br />
 		  </div>

                  <%= hidden_field_tag 'branch_id', @branch.id %>

                  <div class="form-group col-lg-12 text-center">
                    <%= t.submit 'Create Leaf', class: 'btn btn-primary' %>
                  </div>
                <% end %>
              </div>
	    </div>
            <div class="tab-pane" id="leaf_youtube_upload" >
	      <br /><br />
              <!-- Form for uploading video to youtube -->
	      <% if current_user %>
	        <%= form_for @video_upload do |v| %>
                  <div class="form-group">
                    <%= v.label :title %>
                    <%= v.text_field :title, class: 'form-control', required: true %>
                  </div>

                  <div class="form-group">
	            <%= v.label :file %>
	            <%= v.file_field :file, class: 'form-control', required: true %>
	          </div>

	          <div class="form-group">
	            <%= v.label :description %>
 	            <%= v.text_area :description, class: 'form-control', cols: 3 %>
	          </div>

	         <%= hidden_field_tag 'branch_id', @branch.id %>

	          <%= v.submit 'Upload', class: 'btn btn-primary' %>
                  <span class="help-block">This may take a few minutes. Make sure you are connected to WIFI for uploading larger videos...</span><br />
                <% end %>
	      <% else %>
	        <p>Please <%= link_to 'sign in', '/auth/google_oauth2' %>.<br />This will connect with your Google / Youtube account and upload videos to your youtube account.<br /></p>
                <span class="help-block">This may take a few seconds...</span>
	      <% end %>
            </div>
          </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
