
  <div class="card">

    <div class="card-header" role="tab" id=<%= 'heading' + branch.id.to_s %>>
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href=<%= '#collapse' + branch.id.to_s %> aria-expanded="true" aria-controls=<%= 'collapse' + branch.id.to_s %>>
          <h2 class="display-5 text-center"><b><%= branch.name.to_s %></b></h2>
        </a>
      </h5>
    </div>

    <div id=<%= 'collapse' + branch.id.to_s %> class="collapse show" role="tabpanel" aria-labelledby=<%= 'heading' + branch.id.to_s %>>
      <div class="card-block">
        <p class="lead"><%= sanitize branch.purpose[0..200] %></p><br />
        <b>Created on: </b><%= branch.created_at.strftime('%-d %B %Y') %><br /><br />
        <a class="btn btn-success btn-sm" href=<%= collab_project_branch_path(:collab_project_id => branch.collabproject.id, :id => branch.id) %>>Goto Branch<span class="glyphicon glyphicon-chevron-right"></span></a><br /><br />
        <% if current_admin and branch.creator.admin.id == current_admin.id %>
          <%= link_to "delete branch", collab_project_branch_path(:collab_project_id => branch.collabproject.id, :id => branch.id), method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
        <br /><br />
      </div>
    </div>

  </div>

