<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEditBranch">Edit Branch</button>

<!-- Modal -->
<div id="myModalEditBranch" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content text-left">

      <div class="modal-header">
        <h4 class="modal-title">Edit Branch</h4>
      </div>

      <%= form_for(@branch, url: collab_project_branch_path(:collab_project_id => @branch.collabproject.id, :branch_id => @branch.id, :page => @current_page, :active_leaf => (@active_leaf ? @active_leaf.id : nil)), html: {multipart: :true, class: "form"}) do |f| %>
        <div class="modal-body">

          <div class="form-group col-lg-12 text-center">
	    <div class="form-group text-left">
	      <%= f.label :name, "Branch Name" %><br />
	      <%= f.text_field :name, autofocus: true, class: "form-control" %>
	    </div>

	    <div class="text-left">
	      <div class="form-group">
	        <%= f.label :purpose, "Branch Purpose" %><br />
	        <%= f.trix_editor :purpose %>
    	      </div>
	    </div>

	    <% if @parent_branch %>
	      <%= hidden_field_tag 'branch_id', @parent_branch.id %>
	    <% end %>

            <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
          </div>

        </div>
      <% end %>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
