    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading"><b>Branch: </b><%= @branch.name %></h1>
        <p class="lead text-muted"><b>Purpose: </b><%= @branch.purpose %></p>
        <p class="lead text-muted"><b>Created at: </b><%= @branch.created_at.strftime('%-d %B %Y %H') %></p>
        <p>
          <a href='#' class="btn btn-primary">Edit Branch Details</a>
          <!--<a href=<%= new_collab_project_branch_leaf_path(@branch.collabproject, @branch) %> class="btn btn-primary">Add Leaf</a>-->
          <a href=<%= collab_project_branch_new_child_branch_path(@branch.collabproject, @branch) %> class="btn btn-primary">Add Branch</a>
          <%= render('branches/add_leaf') %>
        </p>
      </div>
    </section>

<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <% if @current_leaf %>
      <%= render @current_leaf %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="col-md-7">

    <div class="row">
      <div class="col-lg-12">
        <h1 class='page-header'><%= @branch.name %>
          <small>child branches</small>
        </h1>
      </div>
    </div>

    <% if @child_branches.any? %>
      <div class="panel-group" id="accordion">
        <% @child_branches.each do |branch| %>
          <%= render branch %>
        <% end %>
        <br /><br />
      </div>
    <% else %>
      <h3>No Child Branches<br /><br /></h3>
    <% end %>

  </div>
</div>

<%= render 'branches/branch_footer_nav' %>
