    <section class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-center"><b>Branch</b><br /><%= @branch.name %></h1><br />
        <hr class="my3">
        <h3 class="display-5"><%= raw( @branch.purpose ) %></h3><br />
	<p class="lead text-muted">
        <% if @branch.path %>
  	  <b>Path: </b><%= @branch.path %><%= @branch.name %><br />
        <% end %>
        <b>Created at: </b><%= @branch.created_at.strftime('%-d %B %Y') %>
	</p>
    
        <% if @is_current_admin_collaborator %>
        <hr class="my-4">
        <div class="container-block text-center">
          <p>
            <% if current_admin and @branch.creator.admin.id == current_admin.id %>
              <%= link_to "Delete Branch", collab_project_branch_path(:collab_project_id => @branch.collabproject.id, :id => @branch.id), 
		method: :delete, data: { confirm: "You sure?" }, class: "btn btn-primary" %>
            <% end %>
            <%= render('branches/edit_branch') %>
            <a href=<%= collab_project_branch_new_child_branch_path(@branch.collabproject, @branch) %> class="btn btn-primary">Add Branch</a>
            <%= render('branches/add_leaf') %>
          </p>
        </div>
        <% end %>

      </div>
    </section>

<!-- Display Branch Leave -->
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% if @all_leaves %>
        <%= render 'leafs/display_leafs' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <!-- Child Branches -->
  <div class="row">
  <div class="col-md-6 col-sm-6">

    <h1 class='page-header'><%= @branch.name %>
      <small>child branches</small>
    </h1>

    <% if @child_branches.any? %>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <%= render partial: 'branches/branch_show', locals: {branch: @child_branches[0]} %>
        <% @child_branches[1..-1].each do |branch| %>
          <%= render branch %>
        <% end %>
      </div>
    <% else %>
      <h3>No Child Branches<br /><br /></h3>
    <% end %>

  </div>

  <!-- Comments -->
  <div class="col-md-6 col-sm-6">
    <%= render 'branches/add_display_branch_comments' %>
  </div>
  </div>

</div>

<!-- Branch Hierarchy Nav -->
<div class="row">
  <%= render 'branches/branch_footer_nav' %>
</div>
