<button type="button" class="btn btn-primary" data-toggle="modal" data-target="<%= "#myModalAddComment" + commentable_type.to_s + commentable_id.to_s %>">Add Comment</button>

<!-- Modal -->
<div id="<%= "myModalAddComment" + commentable_type.to_s + commentable_id.to_s %>" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content text-left">

      <div class="modal-header">
        <h4 class="modal-title">Add Comment</h4>
      </div>

      <% @active_leaf ||= Leaf.new %>
      <%= form_for(@new_comment, url: comments_path(@new_comment, :page => @current_page, :active_leaf => ( commentable_type == 'leaf' ? commentable_id : @active_leaf.id)), html: {multipart: :true, class: "form"}) do |f| %>
        <div class="modal-body">

          <div class="form-group col-lg-12 text-center">
            <%= hidden_field_tag commentable_type.to_s + '_id', commentable_id %>
            <%= f.text_area :body, class: 'form-control', required: true %>
          </div>

          <div class="form-group col-lg-12 text-left">
            <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
          </div>

        </div>
      <% end %>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

