<div class="comment well well-sm">
  <p class="text-muted">Added by <strong><%= comment.collaborator.admin.name %></strong> 
  on <%= time_ago_in_words(comment.created_at) + ' ago' %></p>
  <p><%= comment.body %></p>

  <% from_reply_form ||= nil %>
  <% unless from_reply_form %>
    <% if @is_current_admin_collaborator %>.
      <p><%= link_to 'reply', new_comment_path(:parent_id => comment.id, :page => @current_page, :active_leaf => @active_leaf.id) %></p>
    <% end %>
  <% end %>

  <% @active_leaf ||= Leaf.new %>
  <% if current_admin and comment.collaborator.admin.id == current_admin.id %>
    <%= link_to "delete", comment_path(comment, :page => @current_page, :active_leaf => @active_leaf.id), 
	method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</div>
