<%= render :partial => 'shared/errors', :locals => { :object => @invite} %>


<div class="row">
<div class="col-sm-offset-4 col-sm-6">
  <h2 class="display-4 text-center">Add Collaborator</h2>

  <p class="lead">
  <%= form_for(@collaborator, url: collab_project_collaborators_path(:collab_project_id => @collab_project.id), html: {multipart: :true, class: "form", method: :post}) do |f| %>

    <div class="form-group">
      <%= label :text, 'Add a collaborator to this project' %><br />
      <%= f.collection_select :admin_id, @avail_collaborators, :id, :name, prompt: true  %><br />
    </div>

    <%= f.submit "Add", class: "btn btn-primary" %>
  <% end %><br /><br />
  </p>

</div>
</div>

<div class="row">
  <div class="col-sm-offset-4 col-sm-6 text-center">
    <%= render 'collaborators/invite_collaborator' %>
  </div>
</div>
