
<div class="card">
  <h4 class="card-header text-muted text-center">
    Leaves <span class="badge badge-success"><%= @leaf_count %></span>
    <!-- Leaf Pagination Nav -->
<% if @pages > 1 %>
<nav aria-label="Leaves Pagination">
  <ul class="pagination">
    <% if @current_page > 1 %>
      <li class="page-item">
        <a class="page-link" href="<%= collab_project_branch_path(:collab_project_id => @collab_project.id, :branch_id => @branch.id, :page => (@current_page - 1)) %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    <% end %>
    <% for p in 1..@pages %>
      <li class="page-item <%= p == @current_page ? 'active' : nil %>"><a class="page-link" href="<%= collab_project_branch_path(:collab_project_id => @collab_project.id, :branch_id => @branch.id, :page => p) %>"><%= p.to_s %></a></li>
    <% end %>
    <% if @current_page < @pages %>
      <li class="page-item">
        <a class="page-link" href="<%= collab_project_branch_path(:collab_project_id => @collab_project.id, :branch_id => @branch.id, :page => (@current_page + 1)) %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
<% end %>
<!-- End Leaf Pagination Nav -->
  </h4>

  <div class="card-block">

    <div class="card">
      <div class="card-block">

        <ul class="nav nav-pills nav-fill align-items-end" id="dashboard_leafs" >
          <% @all_leaves.each do |leaf| %>
            <% leaf.id == @active_leaf.id ? leaf_status = 'active' : leaf_status = nil %>
            <%= render :partial => 'leafs/leaf_tab', :locals => { :leaf => leaf, :leaf_status => leaf_status }  %>
          <% end %>
        </ul>

	<div class="tab-content">
          <% @all_leaves.each do |leaf| %>
            <% leaf.id == @active_leaf.id ? leaf_status = 'active' : leaf_status = nil %>
            <%= render :partial => 'leafs/leaf_pane', :locals => { :leaf => leaf, :leaf_status => leaf_status }  %>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>
