
<div class="card">
  <h4 class="card-header text-muted text-center">
    <div class="row align-items-center">
      <div class="col-sm-3">
    <!-- Leaf Pagination Nav -->
<% if @pages > 1 %>
<nav class="pull-left" aria-label="Leaves Pagination">
  <ul class="pagination">
    <% if @current_page > 1 %>
      <li class="page-item">
        <a class="page-link" href="<%= collab_project_branch_path(:collab_project_id => @collab_project.id, :branch_id => @branch.id, :page => (@current_page - 1)) %>" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    <% end %>
    <% for p in 1..@pages %>
      <li class="page-item <%= p == @current_page ? 'active' : nil %>"><a class="page-link" href="<%= collab_project_branch_path(:collab_project_id => @collab_project.id, :branch_id => @branch.id, :page => p) %>"><%= p.to_s %></a></li>
    <% end %>
    <% if @current_page < @pages %>
      <li class="page-item">
        <a class="page-link" href="<%= collab_project_branch_path(:collab_project_id => @collab_project.id, :branch_id => @branch.id, :page => (@current_page + 1)) %>" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
<% end %>
<!-- End Leaf Pagination Nav -->
      </div>
      <div class="col-sm-6 text-center">
        <h1 class="display-4">Leaves <span class="badge badge-success"><%= @leaf_count %></span></h4>
      </div>
      <div class="col-sm-3"></div>
      </div>
  </h4>

  <div class="card-block">

    <div class="card">
      <div class="card-block">

        <!-- Leaf Header -->
        <ul class="nav nav-pills nav-justified" id="dashboard_leafs" >
          <% @all_leaves.each do |leaf| %>
            <%= render :partial => 'leafs/leaf_tab', :locals => { :leaf => leaf, :leaf_status => (leaf.id == @active_leaf.id ? 'active' : nil) }  %>
          <% end %>
        </ul>

        <!-- Leaf Content -->
	<div class="tab-content">
          <% @all_leaves.each do |leaf| %>
            <%= render :partial => 'leafs/leaf_pane', :locals => { :leaf => leaf, :leaf_status => (leaf.id == @active_leaf.id ? 'active' : nil) }  %>

          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>
