  <div class="card">

    <% if leaf.leafable.class.to_s == 'SourceYoutube' %>
        <div class="card-block text-center">
          <%= link_to image_tag("https://img.youtube.com/vi/#{leaf.leafable.uid}/mqdefault.jpg", alt: leaf.leafable.title,
                                      class: 'img-rounded'),
                            "https://www.youtube.com/watch?v=#{leaf.leafable.uid}", target: '_blank' %>
          <p class="card-text">
            <h5><%= leaf.leafable.title %></h5>
            <b>Published at:</b> <%= leaf.leafable.published_at %><br />
            <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> <%= leaf.leafable.likes %><br />
            <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> <%= leaf.leafable.dislikes %><br />
          </p>
        </div>
    <% elsif leaf.leafable.class.to_s == 'SourceText' %>
        <div class="card-block">
          <p><%= leaf.leafable.text %></p>
        </div>
    <% end %>

    <div class="card-footer text-muted text-center">
      <p>Leaf Created: <%= leaf.created_at.strftime('%-d %B %Y') %></p>
      <% if @is_current_admin_collaborator %>
        <%= render :partial => 'branches/edit_leaf', :locals => { leaf: leaf } %>
      <% end %>
    </div>

  </div>
