<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalEditCollab">Edit Collab Details</button>

<!-- Modal -->
<div id="myModalEditCollab" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content text-left">

      <div class="modal-header">
        <h4 class="modal-title">Edit Collab</h4>
      </div>

      <%= form_for(@collab_project, url: collab_project_path(:collab_project_id => @collab_project.id), html: {multipart: :true, class: "form"}) do |f| %>
        <div class="modal-body">

         <div class="form-group">
           <%= f.label :name %><br />
           <%= f.text_field :name, autofocus: true, class: "form-control" %>
         </div>

         <div class="form-group">
           <%= f.label :description %><br />
	   <%= f.trix_editor :description %>
         </div>

         <div class="form-group">
           <%= f.label :private, 'Check to make this a private project' %><br />
           <%= f.check_box :private, class: "form-control" %>
         </div>

          <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
        </div>

          <% if current_admin and @collab_project.creator.admin.id == current_admin.id %>
            <%= link_to "delete collab", collab_project_path(:collab_project_id => @collab_project.id), 
		method: :delete, data: { confirm: "You sure?" } %>
          <% end %>

      <% end %>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
