    <section class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-center"><b>Collab<br /></b><%= @collab_project.name %></h1>
	<hr class="my-3">
        <p class="lead"><br /><%= sanitize @collab_project.description.gsub('<div>','').gsub('</div>','') %></p>
        <p class="lead text-muted">
	  <b>Created on: </b><%= @collab_project.created_at.strftime('%-d %B %Y') %><br />
	  <b>Project Privacy setting: </b><%= @collab_project.private == true ? 'Private' : 'Public' %><br /><br />
	</p>
        <p class="lead text-muted text-center"><b>Collaborators</b><br /><%= @collaborators_list %></p>

        <% if current_admin_collaborator?(@collab_project.id) %>
        <p>
          <hr class="my-4">
	  <div class="text-center">
            <%= render 'collab_projects/edit_collab' %>
            <a href=<%= new_collab_project_collaborator_path(@collab_project) %> class="btn btn-primary">Add Collaborator</a>
            <a href=<%= new_collab_project_branch_path(@collab_project) %> class="btn btn-primary">Create Branch</a>
	  </div>
        </p>
 	<% end %>

      </div>
    </section>

<div class="container">
  <!-- Child Branches -->
  <div class="row">
  <div class="col-lg-6 col-md-5">

    <h1 class='page-header'>
      <small>branches</small>
    </h1>

    <% if @branches.any? %>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <% @branches.each do |branch| %>
          <%= render partial: 'branches/branch_show', locals: {branch: branch} %>
        <% end %>
      </div>
    <% else %>
      <h3>No Branches<br /><br /></h3>
    <% end %>

  </div>

  <!-- Comments -->
  <div class="col-lg-6 col-md-5">
    <%= render 'collab_projects/add_display_collab_comment' %>
  </div>
  </div>

</div>
