<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light bg-faded">
  <div class="text-center col-md-4 col-md-offset-4">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">COLLAB</a>
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href=<%= root_path%>>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= collab_projects_path %>>Collabs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= edit_admin_registration_path %>>My Account</a>
      </li>
      <% if admin_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href=<%= new_admin_session_path %>>Login</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

