
  <nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="text-center col-xs-4 col-xs-offset-4">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="navbar-brand" href="#">COLLAB</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= root_path%>>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= collab_projects_path %>>Collabs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%= edit_admin_registration_path %>>My Account</a>
      </li>
      <% if admin_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <a class="nav-link" href=<%= new_admin_session_path %>>Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href=<%= new_registration_path(:admin) %>>Register</a>
        </li>
      <% end %>
      <li class="nav-item active">
        <a class="nav-link" href=<%= static_pages_about_path %>>About</a>
      </li>
    </ul>
  </div>
</nav>

